body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h2, h3 {
    color: #333;
}


.navbar {
    margin-bottom: 20px;
}

.nav-link {
    font-weight: 600;
}

.nav-link.active {
    font-weight: 700;
}


.jumbotron {
    background-size: cover;
    background-position: center;
    color: #fff;
}


.card {
    margin-bottom: 20px;
    height: 100%; 
}

.card-img-top {
    height: 250px; 
    object-fit: cover; 
    width: 100%;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    .jumbotron {
        height: 300px;
    }
}
